.logo {
  height: 40px;
  margin-right: 10px;
}

.notificationDropdown :global(.dropdown-menu) {
  min-width: 20rem;
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #212529;
}

.notificationDropdown :global(.dropdown-item-text) {
  color: #212529;
}

.notificationToggle {
  font-size: 1.1rem;
}
